* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container{
    width: 100vw;
    height: 100vh;
    background: url(Hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.quiz-app{
    width: 90%;
    max-width: 520px;
    background-color: #fff;
    position: absolute;
    left: 5vh;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 10px;
    padding: 20px;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 120px;
}
#question{
    margin-block: 30px
}
.quiz h2{
    font-weight: 600;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.answers{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn{
    padding: 17px;
    font-size: 15px;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 6px;
    outline: none;
    border: 1.2px solid rgb(231, 162, 33);
    background-color: #fff;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover:not([disabled]){
    background-color: rgb(231, 162, 33) ;
    color: #fff ;
}
.btn:disabled{
    cursor: no-drop;
}
.button-div{
    text-align: center;
    margin-top: 30px;
}
#next{
    background-color: rgb(231, 162, 33);
    border: none;
    outline: none;
    border-radius: 6px;
    padding-block: 16px;
    padding-inline: 40px;
    font-size: 14px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.correct{
    background-color: rgb(98, 173, 98);
}
.incorrect{
    background-color: rgb(211, 116, 116);
}

@media screen and (max-width: 750px){
    .quiz-app{
        left: 50%;
        transform: translate(-50%, -50%);
    }
}